p {
    width: 150px;
    height: 150p;
    background-color: aquamarine;

}


.yellow{
    background-color: yellow;
    color: black;
}

.pink{
    background-color: pink;
}

.yahoo{
    background-color: purple;
}