* {
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow: hidden;
}
header{
    padding: 0 10px;
    height: 62px;
    line-height: 62px;
    vertical-align: middle;
    border-bottom: 1px solid lightslategray;
}

.logo{
    color: black;
    font-size: 24px;
    font-weight: bold;
}
.product-name {
    color: rgba(0,0,0,0.54);
}
.thumbnail{
    height: 30px;
    border-radius: 50%;
    width: 30px;
    float: right;
    background-color: purple;
    color: white;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    margin-top: 16px;
    vertical-align: middle;
}
.grid{
    margin: 10px 0;
    height: calc(90% - 62px);
    overflow: scroll;
}

footer{
    background-color: black;
    height: 10%;
}

.photo{
    float: left;
    padding: 10px;
    width: 150px;
    height: 150px;
}

.photo img{
    width: 100%;
    height: 100%;
}

.clear{
    display: block;
    width: 0;
    height: 0;
    clear: both;
}